body {
  font-family: 'Graphik Medium', sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .15em;
  font-weight: 500;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1 {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  letter-spacing: .25em;
  padding-bottom: 20px;
}

 h2 {
   font-weight: bold;
   font-size: 14px;
   margin: 0;
   text-decoration: underline;
   letter-spacing: .1em;
 }

 p {
   font-size: 10px;
   letter-spacing: normal;
   font-weight: bold;
 }

 img {
   max-height: 100vh;
   max-width: 40vw;
 }

.main {
  background-color: #f8f8f8;
  bottom: 0;
  position: relative;
  width: 100%;
}

.sticky {
  width: 25%;
}

.description {
  padding-bottom: 20px;
}

#description-section {
  padding-top: 35vh;
  padding-bottom: 25vh;
  padding-left: 5vw;
  float: left;
  position: fixed;
  top: 0;
}

#order-section {
  padding-top: 35vh;
  padding-bottom: 25vh;
  padding-right: 5vw;
  right: 0;
  position: fixed;
  top: 0;
}

#main-images {
  padding-left: 30%;
  max-width: 200px;
}

.secondary {
  padding: 50px;
  background-color: white;
  bottom: 0;
  text-align: center;
}

.secondary-img {
  max-height: 70vh;
  max-width: 35vw;
}


.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

.flex-item {
  margin: 10px;
  text-align: left;
}

#flex-single {
  padding-left: 25%;
}


@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }
}
