body {
  font-family: 'Graphik Medium', sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .15em;
  font-weight: 500;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1 {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  letter-spacing: .25em;
  padding-bottom: 20px;
}

 h2 {
   font-weight: bold;
   font-size: 14px;
   margin: 0;
   text-decoration: underline;
   letter-spacing: .1em;
 }

 p {
   font-size: 10px;
   letter-spacing: normal;
   font-weight: bold;
 }

 img {
   max-height: 100vh;
   max-width: 40vw;
 }

 button {
   background-color: black;
   color: white;
   font-family: 'Graphik Medium', sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: .15em;
   font-weight: 500;
   margin-top: 15px;
   margin-bottom: 15px;
   width: 25vw;
 }

 .link {
   text-decoration: underline;
 }

.main {
  background-color: #f8f8f8;
  bottom: 0;
  position: relative;
  width: 100%;
}

.sticky {
  width: 25%;
}

.description {
  padding-bottom: 20px;
}

#description-section {
  padding-top: 35vh;
  padding-bottom: 25vh;
  padding-left: 5vw;
  float: left;
  position: fixed;
  top: 0;
}

#order-section {
  padding-top: 35vh;
  padding-bottom: 25vh;
  padding-right: 5vw;
  right: 0;
  position: fixed;
  top: 0;
}

#main-images {
  padding-left: 30%;
  max-width: 200px;
}

.secondary {
  padding: 50px;
  background-color: white;
  bottom: 0;
  text-align: center;
}

.secondary-img {
  max-height: 70vh;
  max-width: 35vw;
}


.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

.flex-item {
  margin: 10px;
  text-align: left;
}

#flex-single {
  padding-left: 25%;
}


@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }
}

/* CSS for custom dropdown */
.drop-down{
  position:absolute;
}

.drop-down .selected a{
  background:#fff no-repeat scroll right center;
  display:block;
  padding-right:20px;
  border:1px solid #d7d7d7;
  width:150px;
  border-radius:2px;
  text-decoration:none;
  color: black;
}

.drop-down .selected a span{
  cursor:pointer;
  display:block;
  padding:5px;
}

.drop-down .option{
  position:relative;
}

.drop-down .options ul{
  background:#fff none repeat scroll 0 0;
  display:none;
  list-style:none;
  padding:0px 0px;
  position:absolute;
  left:0px;
  top:32px;
  width:auto;
  min-width:170px;
  border:1px solid #d7d7d7;
}

.drop-down .selected span.value, .drop-down .options span.value{
  display: none;
}

.drop-down .options ul li a{
  padding:5px;
  display:block;
  text-decoration:none;
  color: black;
}

.drop-down .options ul li a:hover{
  background: black;
  color:#fff;
  transition:0.2s ease;
}

/* CSS for custom counter */
.quantity {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.quantity__minus,
.quantity__plus {
  display: block;
  width: 22px;
  height: 23px;
  margin: 0;
  background: #dee0ee;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
}
.quantity__minus:hover,
.quantity__plus:hover {
  background: #575b71;
  color: #fff;
}
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
  width: 32px;
  height: 19px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
}
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}

/* CSS for custom color select */
.color,
.color input {
  position: relative;
  overflow: hidden;
  width: 90px;
  height: 25px;
}

.color {
  display: inline-block;
  margin-left: -10px;
  padding-left: 15px;
  border: 1px solid black;
}

.color input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.color i {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: 10px;
  background-image: url(checkmark.jpg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right center;

  opacity: 0;
  transition: .15s opacity ease-in-out;
}

.color input:checked + i {
  opacity: 1;
}

/* CUSTOM MODAL CSS */
#zoom-img,
#zoom-img-2,
#zoom-img-3,
#zoom-img-4,
#zoom-img-5,
#zoom-img-6 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#zoom-img:hover,
#zoom-img-2:hover,
#zoom-img-3:hover,
#zoom-img-4:hover,
#zoom-img-5:hover,
#zoom-img-6:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10

    px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 40%;
    max-width: 500px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
