body {
  font-family: 'Graphik Medium', sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .15em;
  font-weight: 500;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1 {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  letter-spacing: .25em;
  padding-bottom: 20px;
}

 h2 {
   font-weight: bold;
   font-size: 14px;
   margin: 0;
   text-decoration: underline;
   letter-spacing: .1em;
 }

 p {
   font-size: 10px;
   letter-spacing: normal;
   font-weight: bold;
 }

 img {
   max-height: 100vh;
   max-width: 40vw;
 }

 button {
   background-color: black;
   color: white;
   font-family: 'Graphik Medium', sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: .15em;
   font-weight: 500;
   margin-top: 15px;
   margin-bottom: 15px;
   width: 25vw;
 }

 .link {
   text-decoration: underline;
 }

.main {
  background-color: #f8f8f8;
  bottom: 0;
  position: relative;
  width: 100%;
}

.sticky {
  width: 25%;
}

.description {
  padding-bottom: 20px;
}

#description-section {
  padding-top: 35vh;
  padding-bottom: 25vh;
  padding-left: 5vw;
  float: left;
  position: fixed;
  top: 0;
}

#order-section {
  padding-top: 35vh;
  padding-bottom: 25vh;
  padding-right: 5vw;
  right: 0;
  position: fixed;
  top: 0;
}

#main-images {
  padding-left: 30%;
  max-width: 200px;
}

.secondary {
  padding: 50px;
  background-color: white;
  bottom: 0;
  text-align: center;
}

.secondary-img {
  max-height: 70vh;
  max-width: 35vw;
}


.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

.flex-item {
  margin: 10px;
  text-align: left;
}

#flex-single {
  padding-left: 25%;
}


@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }
}

/* CSS for custom dropdown */
.drop-down{
  position:absolute;
}

.drop-down .selected a{
  background:#fff no-repeat scroll right center;
  display:block;
  padding-right:20px;
  border:1px solid #d7d7d7;
  width:150px;
  border-radius:2px;
  text-decoration:none;
  color: black;
}

.drop-down .selected a span{
  cursor:pointer;
  display:block;
  padding:5px;
}

.drop-down .option{
  position:relative;
}

.drop-down .options ul{
  background:#fff none repeat scroll 0 0;
  display:none;
  list-style:none;
  padding:0px 0px;
  position:absolute;
  left:0px;
  top:32px;
  width:auto;
  min-width:170px;
  border:1px solid #d7d7d7;
}

.drop-down .selected span.value, .drop-down .options span.value{
  display: none;
}

.drop-down .options ul li a{
  padding:5px;
  display:block;
  text-decoration:none;
  color: black;
}

.drop-down .options ul li a:hover{
  background: black;
  color:#fff;
  transition:0.2s ease;
}
